In [2]:
import numpy as np
import pandas as pd

np.random.seed(40)

data = np.random.rand(4, 4)

df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])

print(df)

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.407687   0.055366   0.788535   0.287305
1   0.450351   0.303912   0.526400   0.623812
2   0.776775   0.686242   0.980939   0.600816
3   0.813969   0.708645   0.027535   0.904267

In [6]:
new_column_names = {
    'Feature 1': 'Random value 1',
    'Feature 2': 'Random value 2',
    'Feature 3': 'Random value 3',
    'Feature 4': 'Random value 4'
}
df = df.rename(columns=new_column_names)

print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.407687        0.055366        0.788535        0.287305
1        0.450351        0.303912        0.526400        0.623812
2        0.776775        0.686242        0.980939        0.600816
3        0.813969        0.708645        0.027535        0.904267

In [5]:
statistics = df.describe()

print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.612195        0.438541        0.580852        0.604050
std          0.212772        0.315837        0.413250        0.252229
min          0.407687        0.055366        0.027535        0.287305
25%          0.439685        0.241776        0.401683        0.522438
50%          0.613563        0.495077        0.657467        0.612314
75%          0.786074        0.691843        0.836636        0.693926
max          0.813969        0.708645        0.980939        0.904267

In [9]:
null_values = df.isnull().sum()

data_types = df.dtypes

print(null_values)
print("\n")
print(data_types)

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64


Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [10]:
print("Using location method:")
print(df.loc[:, ['Random value 2', 'Random value 3']])

print("\n")
print("Using index location method:")
print(df.iloc[:, [1, 2]])

Using location method:
   Random value 2  Random value 3
0        0.055366        0.788535
1        0.303912        0.526400
2        0.686242        0.980939
3        0.708645        0.027535


Using index location method:
   Random value 2  Random value 3
0        0.055366        0.788535
1        0.303912        0.526400
2        0.686242        0.980939
3        0.708645        0.027535